table {
    border-collapse: collapse;

    margin: 100px auto;
}

td {
    width: 60px;
    height: 60px;
    border: 1px solid black;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background-color: #d18b47;
}

