* {
    box-sizing: border-box;
}

img {
    display: block;
    margin: 120px auto 20px auto;
}

form {
    text-align: center;
}

form input, button {
    border-radius: 1rem;
    border: 1px solid rgb(0 0 0 / 0.38);
    font-size: 1rem;
}

input {
    width: 30rem;
    height: 3rem;
    padding-left: 1rem;

}

button {
    width: 5rem;
    height: 3rem;
}