@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

body {
    margin: 0;
}

.header {
    height: 450px;
    background-size: cover;
    background-image: url(../images/coffee-bgnd.jpg);
    background-position: center;
}

.header h1 {
    margin: 0;
    text-align: center;
    font-family: "Covered By Your Grace", cursive;
    font-size: 60px;
    color: #6fa57d;
}