@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0;
    background-color: #ffffff;
    /*background-position: center;*/
    /*background-size: cover;*/
    color: #333333
}

header {
    height: 350px;
    /*width: 100%;*/
    /*margin: 0 auto;*/
    background-image: url(../images/coffee-bgnd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header > h1 {
    margin: 0;
    padding-top: 60px;
    text-align: center;
    font-family: "Covered By Your Grace", cursive;
    font-size: 85px;
    color: rgb(44 30 22 / 0.73);
}

main {
    margin: 50px auto;
    width: 100%;
    position: relative;
}

.left > div, .right > div {
    padding: 20px;
    border-radius: 15px;
    background-color: #f8f4ef;
    margin: 30px 30px;
    /*height: 200px;*/
    /*overflow-y: auto;*/
}

.left, .right {
    position: absolute;
    width: 50%;
    box-sizing: border-box;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

main div > h2 {
    font-weight: bold;
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    color: #4a3325;
    /*text-transform: uppercase;*/
    margin-top: 0;
    margin-bottom: 15px;
}

main div > p {
    font-weight: 400;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    color: #5a5552;
    text-align: justify;
    text-indent: 32px;
}

main div > a {
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    display: inline-block;
    text-decoration: none;
    background-color: #8c6a53;
    color: #ffffff;
    border-radius: 12px;
}


